services:
  api-gateway:
    container_name: api-gateway
    build:
      context: .
      dockerfile: ./apps/api-gateway/Dockerfile
    ports:
      - '3001:3001'
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - JWT_SECRET=${JWT_SECRET:-secret}
      - AUTH_SERVICE_URL=http://auth-service:4000
      - TASKS_SERVICE_URL=http://tasks-service:5000
    networks:
      - challenge-network
    depends_on:
      auth-service:
        condition: service_started
      tasks-service:
        condition: service_started
      db:
        condition: service_started
      rabbitmq:
        condition: service_started

  auth-service:
    build:
      context: .
      dockerfile: ./apps/auth-service/Dockerfile
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - DB_HOST=db
      - DB_USER=${POSTGRES_USER:-postgres}
      - DB_PASS=${POSTGRES_PASSWORD:-password}
      - DB_NAME=${POSTGRES_DB:-challenge_db}
      - JWT_SECRET=${JWT_SECRET:-secret}
    networks:
      - challenge-network
    depends_on:
      - db

  tasks-service:
    build:
      context: .
      dockerfile: ./apps/tasks-service/Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - DB_HOST=db
      - DB_USER=${POSTGRES_USER:-postgres}
      - DB_PASS=${POSTGRES_PASSWORD:-password}
      - DB_NAME=${POSTGRES_DB:-challenge_db}
      - JWT_SECRET=${JWT_SECRET:-secret}
      - RABBITMQ_URL=amqp://${RABBITMQ_DEFAULT_USER:-admin}:${RABBITMQ_DEFAULT_PASS:-admin}@rabbitmq:5672
    networks:
      - challenge-network
    depends_on:
      - db
      - rabbitmq

  db:
    image: postgres:17.5-alpine3.21
    container_name: db
    restart: always
    ports:
      - '5432:5432'
    networks:
      - challenge-network
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-challenge_db}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.13-management-alpine
    container_name: rabbitmq
    restart: always
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - challenge-network
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-admin}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-admin}
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

volumes:
  postgres_data:
  rabbitmq_data:

networks:
  challenge-network:
    driver: bridge